* {
  font-family: sans-serif;
  font-weight: bold;
}

table,
th,
td {
  border: 0.1666667rem solid black;
  border-collapse: collapse;
  color: #fff;
}

td,
th {
  padding: 0.5rem;
}

.day,
th {
  text-transform: capitalize;
  background-color: #456;
}

.lec {
  background: #0fa;
}

.conf {
  background: #c00;
}

.sec {
  background-color: #a0f;
}
